<!DOCTYPE html>
<html>
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TQLQ7VV');
        </script>
        <!-- End Google Tag Manager -->     
        <meta charset="utf-8">
        <title>{{ page.title }} / Jackson Eilers</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="/styles/main.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,600;1,400&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"> -->
        <!-- <link rel="manifest" href="/site.webmanifest"> -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQLQ7VV"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <header>
            <!-- <div id="siteTitle">
                <a href="/">Jackson Eilers</a>
            </div> -->
            <nav>
                {% include nav.html %}
            </nav>
        </header>
        <main>
            <div class="wide">
                {{ content }}
            </div>
        </main>
        <footer>
            <div class="icon-bar">
                <a href="https://instagram.com/jacksoneilers" class="fa fa-instagram" target="_blank"></a>
                <a href="https://twitter.com/jgeilers" class="fa fa-twitter" target="_blank"></a>
                <a href="https://linkedin.com/in/jacksoneilers" class="fa fa-linkedin" target="_blank"></a>
                <a href="https://github.com/jgeilers" class="fa fa-github" target="_blank"></a>
            </div>
            <p><strong>© 2022 Jackson Eilers</strong></p>
        </footer>
    </body>
</html>