<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Jackson Eilers | {{ page.title }}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link href="/styles/main.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,600;1,400&family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    </head>
    <body>
        <main>
            <div class="wide">
                {{ content }}
            </div>
        </main>
        <footer>
            <div class="icon-bar">
                <a href="https://instagram.com/jacksoneilers" class="fa fa-instagram" target="_blank"></a>
                <a href="https://twitter.com/jgeilers" class="fa fa-twitter" target="_blank"></a>
                <a href="https://linkedin.com/in/jacksoneilers" class="fa fa-linkedin" target="_blank"></a>
                <a href="https://github.com/jgeilers" class="fa fa-github" target="_blank"></a>
            </div>
            <p><strong>© 2023 Jackson Eilers</strong></p>
        </footer>
    </body>
</html>